PORT=8080
HOST=0.0.0.0
BASE_URL=http://localhost:8080
DATABASE_PATH=data/riftbound.db
CATALOG_API_URL=https://api.rifthunt.com/bulk/cards
CATALOG_SYNC_ON_BOOT=true
CATALOG_MAX_AGE_HOURS=24
HTTPS_KEY_PATH=
HTTPS_CERT_PATH=
